.common-banner {
    width: 100%;
    height: 450px; /* Adjusted height to match client page */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: #fff;
    padding: 180px 20px 20px 20px; /* Increased padding-top to push content down */
    margin-bottom: 80px;
}

.banner-content h1 {
    font-size: 2.5rem; /* Adjusted to match client page h2 */
    font-weight: bold;
    margin-bottom: 20px;
}

.banner-content p {
    font-size: 1.2rem; /* Adjusted to match client page p */
    max-width: 800px;
}
