@font-face {
    font-family: 'NanumGothic';
    font-weight: normal;
    src: url('./assets/fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: bold;
    src: url('./assets/fonts/NanumGothicBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 800; /* Extra Bold */
    src: url('./assets/fonts/NanumGothicExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-weight: 300; /* Light */
    src: url('./assets/fonts/NanumGothicLight.ttf') format('truetype');
}

body {
    font-family: 'NanumGothic', sans-serif;
}
